body{
	background-image: url("../images/spiration dark.png");
	font-family: 'Schoolbell', cursive;
}

#container{
	padding-left: 25%;
	max-width: 630px;
	/*justify-content: center;*/
}

h1 {
	font-size: 50px;
	text-align: center;
	margin:20px 0px;
	color:lime;
}

#instructions {
text-align: center;
background-color: lime;
color: black;
max-width: 100%;
margin:20px 0px;
padding: 10px;
}

#crystalOptions{
	padding-left: 10px;
}

.crystals{
	width: 150px;
	height: 150px;
	margin: 20px 0px;
}

#scoreBoard{
	justify-content:center;
	max-width: 100%
}

#randomNumber{
	text-align: center;
	color:lime;
	margin-bottom:10px;
	/*max-width: 50%*/
}

#gameWins, #gameLosses{
	text-align:center;
	/*padding: 10px 0px;*/
	background-color:lime;
	color:black;
	/*margin-bottom: 10px;*/
	/*max-width: 150px;*/
}

#playersScore{
	margin-top: 10px;
	text-align: center;
	color:lime;
}